
<div class="row">
  <div class="col-md-3 mb-5" *ngFor="let tvshow of tvshows">
    <img class="img-fluid poster" [src]="tvshow.poster_path | poster" alt="tvshow.title">
    <div class="text-light">
      <h3>{{ tvshow.name }}</h3>
      <div class="row">
        <div class="col-10">
          <strong>Rate</strong>
        </div>
        <div class="col-2">
          <strong>{{ tvshow.vote_average | number:'1.1-2' }}</strong>
        </div>
      </div>
    </div>
    <p>{{tvshow.first_air_date}}</p>
  </div>
</div>
